/** CSS reset */

* {
  box-sizing: border-box;
}

html,
body,
div,
nav,
span,
textarea,
button,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit;
  font-family: 'Noto Sans KR', sans-serif;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
h5 {
  color: grey;
}

/** landpage CSS */
.landpage-container {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url(https://images.velog.io/images/seonja/post/103b0972-a23a-46df-b540-edfa692b3cb7/image.png);
}
.nav-container {
  height: 64px;
  background-color: rgba(245, 245, 245, 0.4);
  display: flex;
  justify-content: flex-end;
  padding-right: 48px;
}
.nav-item {
  font-size: 20px;
  padding: 20px;
  margin: auto 0;
  font-weight: 700;
  color: #0074e8;
  cursor: pointer;
}
.main-quote {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15%;
}

.register-container {
  max-width: 40vw;
  min-width: 300px;
  margin: auto;
}

@media (max-width: 960px) {
  .landpage-container {
    background-image: url(https://images.velog.io/images/seonja/post/88083d46-59c1-47bf-91e4-c789c4b15844/image.png);
  }
}
